<% if logged_in? %>
  <h1><%= @user.name %>のタスク一覧</h1>
  
  <% if @tasks.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>状態</th>
          <th>タスク内容</th>
          <th>作成日時</th>
        </tr>
      </thead>
      <tbody>
       <% @tasks.each do |task| %>
         <tr>
           <td><%= link_to task.id, task %></td>
           <td><%= task.status %></td>
           <td><%= task.content %></td>
           <td><%= task.created_at %></td>
         </tr>
       <% end %>
     </tbody>
    </table>
    <div>
      <%= paginate @tasks %>
    </div>
  <% end %>
  
  <%= link_to '新規タスクの追加', new_task_path, class: "btn btn-primary" %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>